
@{
    ViewBag.Title = "ForgetPassword";
}

<h1 class="quick">忘記密碼</h1>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    <div class="text-success">
        @ViewBag.cc @ViewBag.message
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">帳號</label>
        <div class="col-md-10">
            @Html.TextBox("account", "", new { @class = "form-control account" })
            <strong class="text-danger">@ViewBag.err</strong>
        </div>     
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">E-MAIL</label>

        <div class="col-md-10">
            @Html.TextBox("emailId", "", new { @class = "form-control email" })
            <strong class="text-danger">@ViewBag.err1</strong>
        </div>
        
    </div>
    <div class="btn-group">

        <input class="btn-success" type="submit" value="送出" />

    </div>

   
</div>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script>
    $('.quick').click(function () {
        $('.account').val('admin')
        $('.email').val('kkl0141@hotmail.com')
    })

        @if(ViewBag.cc == "重置密碼連結已發送置你的信箱")
        {
            @:alert()
            @:setTimeout(function () {
            @:location.href = "/Home/Login"
        @:}, 3000);
        }

        function alert() {
            swal("重置密碼連結已發送置你的信箱", "3秒後跳回登入頁...");
        }
</script>